body {
  background-color: rgba(0, 0, 0, 1);
  background-image: url("https://github.com/RD-idk/Cool-Backgrounds/blob/main/RD_designs/website%20wallpaper.svg?raw=true");
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  transition: 0.3s; 
  background-position: center center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

/* Font */


.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

  }
      @font-face { font-family: "Space Grotesk"; src: url('SpaceGrotesk-Regular.ttf'); } 
      h1 {
         font-family: "Space Grotesk";
         color:#ffffffc0;
      }
      p {
        font-family: "Space Grotesk";
        color:#ffffffc0;
      }
      a {
        font-family: "Space Grotesk";
        color:#ffffffc0;
      }
      h2 {
        font-family: "Space Grotesk";
        color:#ffffffc0;
      }
      font {
         font-family: "Space Grotesk";
         color:#ffffffc0;
      }
      footer {
         font-family: "Space Grotesk";
         color:#ffffffc0;
      }
      small {
        font-family: "Space Grotesk";
        color:#ffffffc0;
      }
      b {
        font-family: "Space Grotesk";
        color:#ffffffc0;
      }

.container {
  margin-top: -80px;
  height: 100vh;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  transition: 0.5s;
  z-index: -1;
}
.topbar {
  display: flex;
  overflow: hidden;
  height: 80px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  z-index: 1;
  transition: 0.3s;
  position: sticky;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.menubtn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.25);
  display: none;
  padding: 5px;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.topbar .menubtn:active {
  scale: 0.9;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.topbar .menubtn:active {
  scale: 1.1;
}

.menubar {
  position: absolute;
  right: 20px;
  height: 30px;
  border-radius: 5px;
}

.menubar a {
  text-decoration: none;
  padding: 5px;
  transition: 0.3s;
  border-radius: 5px;
  scale: 1;
  display: inline-block;
}

.menubar a:hover {
  outline: 1px solid rgba(255, 255, 255, 0.25);
  scale: 1.1;
}

.menubar a:active {
  scale: 0.9;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1000px) {
    .menubtn {
        display: flex;
    }
    .menubar {
      display: none;
    }
}



